<template>
  <div class="game__wrapper">
    <div class="game__background"></div>
    <div class="game__hero"
         :class="{'game__hero--moving': heroMoving}"
         :style="{left: heroPos + 'px'}"
    ></div>
  </div>
</template>

<script>
const LEFT_ARROW_KEY = 37;
const LEFT_A_KEY = 65;
const UP_ARROW_KEY = 38;
const UP_W_KEY = 87;
const RIGHT_ARROW_KEY = 39;
const RIGHT_D_KEY = 68;
const MOVING_KEYS = [
    LEFT_ARROW_KEY,
    LEFT_A_KEY,
    UP_ARROW_KEY,
    UP_W_KEY,
    RIGHT_ARROW_KEY,
    RIGHT_D_KEY,
];

export default {
    name: 'GameRun',
    data() {
        return {
            heroPos: 20,
            heroMoving: false,
            movingInterval: null,
        };
    },
    mounted() {
        document.addEventListener('keydown', this.startMove);
    },
    methods: {
        startMove(event) {
            if (this.heroMoving || !MOVING_KEYS.includes(event.keyCode)) {
                return;
            }

            this.heroMoving = true;
            document.addEventListener('keyup', this.stopMove);

            if (event.keyCode === LEFT_ARROW_KEY || event.keyCode === LEFT_A_KEY) {
                this.movingLeft();
            } else if (event.keyCode === RIGHT_ARROW_KEY || event.keyCode === RIGHT_D_KEY) {
                this.movingRight();
            }
        },
        movingLeft() {
            this.movingInterval = setInterval(() => {
                if (this.heroPos <= 0) {
                    this.stopMove();
                    return;
                }
                this.heroPos--;
            }, 10);
        },
        movingRight() {
            this.movingInterval = setInterval(() => {
                this.heroPos++;
            }, 10);
        },
        stopMove() {
            clearInterval(this.movingInterval);
            this.heroMoving = false;
            document.removeEventListener('keyup', this.stopMove);
        },
    },
}
</script>

<style scoped>
    .game__background {
        width: 100%;
        height: 100%;
        background-image: url('../assets/background.png');
        background-size: cover;
    }

    .game__hero {
        width: 60px;
        height: 68px;
        position: absolute;
        bottom: 20px;
        background-image: url('../assets/croissant.svg');
        background-size: cover;
        filter: drop-shadow(0px 10px 2px rgba(34, 60, 80, 0.2));
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
    }

    .game__hero--moving {
        animation-name: heroBounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }

    @keyframes heroBounce {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-50px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        100% { transform: scale(1,1)      translateY(0); }
    }
</style>