<template>
  <div v-if="!gameStarted"
       class="game__wrapper"
  >
    <h1 class="game__title">Сбежавший круассан</h1>
    <div class="game__button" @click="startGame">Начать</div>
  </div>
  <template v-else>
    <GameRun></GameRun>
    <div class="game__tutorial">
      Use arrows or wasd
    </div>
  </template>
</template>

<script>
import GameRun from './components/Game.vue';

export default {
  name: 'App',
  components: {
    GameRun,
  },
  data() {
    return {
      gameStarted: false,
    };
  },
  methods: {
    startGame() {
      this.gameStarted = true;
    },
  },
}
</script>

<style>
body {
  font-family: system-ui;
  background-color: #16697A;
  color: #333333;
  user-select: none;
}

.game__wrapper {
  background-color: #DFD4CD;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  position: relative;
  overflow: hidden;
}

.game__button {
  background-color: #ffa62b;
  border-radius: 8px;
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 6px 0px #8F5300;
  transition: 0.3s;
}

.game__button:hover {
  position: relative;
  top: 2px;
  box-shadow: 0px 4px 0px #8F5300;
}

.game__button:active {
  position: relative;
  top: 5px;
  box-shadow: 0px 2px 0px #8F5300;
}

.game__tutorial {
  position: absolute;
  top: 100px;
  right: 10%;
  color: #ffa62b;
  font-weight: bold;
}
</style>
